.outer-pokedex{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: dotted 1px black;
}
#pokedex-heading{
    margin: 0 auto;
    letter-spacing: 5px;
    color: black;
}
a:visited{
    color: black;
}